.container {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    padding: 10px;
    background-color: #F2F2FE;
    font-family: monospace;
    font-size: 14px;
}

.set-dropdown-layout {
    width: 200px;
    height: 160px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 15px;
    align-items: center;
}

.quiz-layout {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px grey;
}

.overview-layout {
    width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 15px;
}

.overview--boxes {
    display: grid;
    grid-template: 45px 45px 45px / repeat(15, 1fr);
}

.overview--boxes--box {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px #dcd;
}

.overview--boxes--box.selected {
    background-color: #59E391;
}

.overview--boxes--box.revisit {
    background-color: yellow;
}

.question-layout {
    width: 800px;    
    padding: 22px;
    display: flex;
    flex-direction: column;
}

.question-layout--content {
    margin: 15px;  
    display: flex;
    flex-direction: column; 
    row-gap: 10px;
}

textarea {
    height: 300px;
}

.question-layout--content--buttons-layout {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    padding: 10px;
}

.row-flex {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.space-between {
    justify-content: space-between;
}

.c-gap-5 {
    column-gap: 5px;
}